In [1]:
import numpy as np
import pandas as pd

In [3]:
credit_card_data = pd.read_csv('Downloads//archive//creditcard.csv')

In [4]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [9]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [11]:
# Checking for missing values
print(credit_card_data.isnull().sum())

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [13]:
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [15]:
legit= credit_card_data[credit_card_data.Class == 0]
fraud= credit_card_data[credit_card_data.Class == 1]
print(legit.shape, fraud.shape)

(284315, 31) (492, 31)

In [17]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [19]:
# Separate the features and the target
X = credit_card_data.drop(columns='Class', axis=1)
Y = credit_card_data['Class']

In [21]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import TomekLinks

# Handling imbalance with SMOTE and Tomek Links
smote = SMOTE(random_state=42)
X_resampled, Y_resampled = smote.fit_resample(X, Y)

In [22]:
print(X_resampled.shape, Y_resampled.shape)

(568630, 30) (568630,)

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_resampled, Y_resampled, test_size=0.2, stratify=Y_resampled, random_state=42)

In [28]:
print(X.shape, X_train.shape, X_test.shape)

(284807, 30) (454904, 30) (113726, 30)

In [32]:
from sklearn.preprocessing import StandardScaler

# Scaling the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_resampled)

In [34]:
# Splitting into training and test sets again
X_train, X_test, Y_train, Y_test = train_test_split(X_scaled, Y_resampled, test_size=0.2, stratify=Y_resampled, random_state=42)

In [38]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def evaluate_model(model, X_train, X_test, Y_train, Y_test):
    # Predictions on training and test data
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Accuracy
    print("Training Accuracy: ", accuracy_score(Y_train, y_train_pred))
    print("Test Accuracy: ", accuracy_score(Y_test, y_test_pred))
    
    # Precision, Recall, and F1-score
    print("\nTraining Metrics:")
    print(f"Precision: {precision_score(Y_train, y_train_pred)}")
    print(f"Recall: {recall_score(Y_train, y_train_pred)}")
    print(f"F1-Score: {f1_score(Y_train, y_train_pred)}")
    
    print("\nTest Metrics:")
    print(f"Precision: {precision_score(Y_test, y_test_pred)}")
    print(f"Recall: {recall_score(Y_test, y_test_pred)}")
    print(f"F1-Score: {f1_score(Y_test, y_test_pred)}")

In [40]:
log_reg = LogisticRegression(max_iter=500)
log_reg.fit(X_train, Y_train)

print("\nLogistic Regression")
evaluate_model(log_reg, X_train, X_test, Y_train, Y_test)

y_pred = log_reg.predict(X_test)
conf_matrix = confusion_matrix(Y_test, y_pred)
print("\nConfusion Matrix:")
print(conf_matrix)

print("\nClassification Report:")
print(classification_report(Y_test, y_pred))

Logistic Regression
Training Accuracy:  0.9804178464027575
Test Accuracy:  0.9807783620280323

Training Metrics:
Precision: 0.9912955902453061
Recall: 0.9693473787876123
F1-Score: 0.9801986360443508

Test Metrics:
Precision: 0.9906495091440981
Recall: 0.9707190967764627
F1-Score: 0.9805830416940541

Confusion Matrix:
[[56342   521]
 [ 1665 55198]]

Classification Report:
              precision    recall  f1-score   support

           0       0.97      0.99      0.98     56863
           1       0.99      0.97      0.98     56863

    accuracy                           0.98    113726
   macro avg       0.98      0.98      0.98    113726
weighted avg       0.98      0.98      0.98    113726

In [97]:

# Random Forest with reduced n_estimators and max_depth to speed up
rf_model = RandomForestClassifier(n_estimators=100, max_depth=10, n_jobs=-1)
rf_model.fit(X_train, Y_train)

# Random Forest Evaluation
print("\nRandom Forest")
evaluate_model(rf_model, X_train, X_test, Y_train, Y_test)

Random Forest
Accuracy on Training Data: 0.9925171025095405
Accuracy on Test Data: 0.9922269313965144
Precision: 0.9985039271911234
Recall: 0.9859310975502523
F1-Score: 0.9921776833908503
ROC-AUC: 0.9922269313965143

In [ ]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators=100, random_state=42)
random_forest.fit(X_train, Y_train)

print("\nRandom Forest")
evaluate_model(random_forest, X_train, X_test, Y_train, Y_test)

y_pred = random_forest.predict(X_test)
conf_matrix = confusion_matrix(Y_test, y_pred)
print("\nConfusion Matrix:")
print(conf_matrix)

print("\nClassification Report:")
print(classification_report(Y_test, y_pred))